        :root {
            --bs-primary: #13C5DD;
            --bs-secondary: #354F8E;
            --bs-light: #EFF5F9;
            --bs-dark: #1D2A4D;
        }

        body {
            font-family: 'Roboto', sans-serif;
            color: #777777;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        .navbar-brand {
            font-family: 'Roboto Condensed', sans-serif;
            font-weight: 700;
            color: var(--bs-dark);
        }

        .text-primary {
            color: #13C5DD !important;
        }

        .bg-primary {
            background-color: #13C5DD !important;
        }

        .btn-primary {
            background-color: #13C5DD;
            border-color: #13C5DD;
            color: #FFFFFF;
        }

        .btn-primary:hover {
            background-color: #0fb3cd;
            border-color: #0fb3cd;
        }

        .navbar-light .navbar-nav .nav-link {
            padding: 30px 0;
            margin-left: 30px;
            font-size: 18px;
            text-transform: uppercase;
            font-weight: 700;
            color: var(--bs-dark);
            outline: none;
            transition: .5s;
        }

        .navbar-light .navbar-nav .nav-link:hover,
        .navbar-light .navbar-nav .nav-link.active {
            color: var(--bs-primary);
        }

        @media (min-width: 992px) {
            .navbar-light .navbar-nav .nav-link {
                position: relative;
            }

            .navbar-light .navbar-nav .nav-link::before {
                position: absolute;
                content: "";
                width: 0;
                height: 5px;
                bottom: 0;
                left: 50%;
                background: var(--bs-primary);
                transition: .5s;
            }

            .navbar-light .navbar-nav .nav-link:hover::before,
            .navbar-light .navbar-nav .nav-link.active::before {
                width: 100%;
                left: 0;
            }
        }

        .hero-header {
            background: url(../img/hero.jpg) top right no-repeat;
            background-size: cover;
        }

        .service-item {
            position: relative;
            height: 350px;
            padding: 0 30px;
            transition: .5s;
        }

        .service-icon {
            width: 150px;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: var(--bs-primary);
            border-radius: 50%;
            transform: rotate(-14deg);
            margin-bottom: 30px;
            transition: .5s;
        }

        .service-icon i {
            transform: rotate(15deg);
        }

        .service-item a.btn {
            position: absolute;
            width: 60px;
            bottom: -48px;
            left: 50%;
            margin-left: -30px;
            opacity: 0;
            transition: .5s;
        }

        .service-item:hover {
            margin-top: -15px;
            box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, .08);
        }

        .service-item:hover a.btn {
            bottom: -24px;
            opacity: 1;
        }

        .price-carousel-bg {
            position: relative;
        }

        .price-carousel-bg::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 50%;
            bottom: 0;
            left: 0;
            background: var(--bs-primary);
            border-radius: 8px 8px 50% 50%;
            z-index: -1;
        }

        .back-to-top {
            position: fixed;
            display: none;
            right: 30px;
            bottom: 30px;
            z-index: 99;
        }

        @media (max-width: 991.98px) {
            .navbar-light .navbar-nav .nav-link {
                margin-left: 0;
                padding: 10px 0;
            }
        }